* {
    margin: 0;
    padding: 0;
}

.upper {
    background-color: #426ea8;
    color: whitesmoke;
    font-size: 3rem;
}

body {
    font-family: "Sofia", sans-serif;
  }

.sjo {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 2px solid #999;
}

.container, .nav {
    width: 1200px;
    margin: auto;
}

.nav {
    height: 150px;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links {
    width: 500px;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav a {
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;

}

.row {
    display: flex;
}

.weather {
    padding: 50px 0;
    margin-right: 25px;
    background-color: silver;
    flex: 1;
    text-align: center;

}

.weather p {
    font-size: 1.5rem;
}
.weather img {

    width: 160px;
    margin: 20px 0;
    border-radius: 80px;
}

.temperatures {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
}

.cookie01 {

    width: 900px;
    display: flex;

    padding: 30px;
    height: 130px;

    border: 2px solid silver;
    margin: 0 auto;

    justify-content: space-between;
    align-items: center;
}

.higher {
    color: red;
    font-size: 2rem;
}

.lower {
    color: #396bb1;
    font-size: 2rem;
}

.btn {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    background-color: #4674b1;
    cursor: pointer;
}

.footer {
    align-items: center;
    width: 100%;
    margin-top: 100px;

    bottom: 10px;
}





